// Colores
$primary-color: #f0a500;
$secondary-color: #ff4500;
$background-color: #1a1a1a;
$text-color: #fff;

// Tipografía
$font-family: "Arial, sans-serif";
$line-height: 1.6;

// Espaciado y bordes
$border-radius: 5px;
$padding: 10px;
$margin: 20px;

// Sombras
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

// sass/utils/_variables.scss
$color-dorado: #f0a500;
$color-negro: #000;
